.banner {
    position: relative;
    
    .slideshow {
        @include aspect-ratio-box('cinema');
        img {
            @include img-cover;
        }
    }    
    h1 {
        font-size: 3em;
        @include flatten;
        position: absolute;
        bottom: 10%;
        left: 5%;
        color: $site-white;
        text-align: left;
        text-shadow: 2px 2px 0 $site-darkblue;
        white-space: nowrap;
        font-family: $body-font;
        font-weight: 800;
        line-height: 1.2em;
    }
    h1 span {
        font-size: 0.8em;
        line-height: 0.8em;
    }

    @include mq($phoneLarge) {
        h1 {
            font-size: 8vw;
        }
    }

}