// Info Section styles
.intro-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(150px, auto);
    grid-gap: 20px;
    padding: $half-padding 0;

    .item {
        padding: $half-padding;
    }
    .item:first-child {
        margin-left: 20px;
        background-color: $site-lightgray;
    }
    .item:nth-child(2) {
        margin-right: 20px;
        background-color: $site-lightgray;
    }
    .item3 {
        grid-column: span 2;
        background-color: $site-blue;
        padding: $half-padding;
        text-align: center;
    }
    .item4 { 
        grid-column: span 2;
    }
    .item h2 {
        border-bottom: solid 1px $site-white;
    }

    @include mq($phoneLandscape){
        .item1 { grid-column: span 2; margin-right: 20px;}
        .item2 { grid-column: span 2; margin-left: 20px;}
    }
}

//schedule page style
.schedule-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(150px, auto);
    grid-gap: 20px;
    padding: $half-padding;

    article {
        border: solid 1px $site-lightblue;
        background-color: $site-white;
        padding: $half-padding;
        box-shadow: 0 1px 0 0 $site-lightgray, 0 1px 0 0 $site-lightgray inset;
    }
    article h2 {
        color: $site-darkblue;
        border-bottom: solid 1px $site-lightgray;
        font-size: 1.2em;
        font-weight: 300;
    }
    article a {
        background-image: url('../images/right-arrow.png');
        background-position: right;
        padding-right: 20px;
        background-repeat: no-repeat;
        font-weight: 200;
        font-size: 0.9em;
    }
    @include mq($phoneLarge){
        grid-template-columns: 1fr;
    }
}