// Info Section styles
.intro-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(150px, auto);
    grid-gap: 20px;
    padding: $half-padding 0;

    .item {
        padding: $half-padding;
    }
    .item:first-child {
        margin-left: 20px;
        background-color: $site-lightgray;
    }
    .item:nth-child(2) {
        margin-right: 20px;
        background-color: $site-lightgray;
    }
    .item3 {
        grid-column: span 2;
        background-color: $site-blue;
        padding: $half-padding;
        text-align: center;
    }
    .item4 { 
        grid-column: span 2;
    }
    .item h2 {
        border-bottom: solid 1px $site-white;
    }

    @include mq($phoneLandscape){
        .item1 { grid-column: span 2; margin-right: 20px;}
        .item2 { grid-column: span 2; margin-left: 20px;}
    }
}

//schedule page style
.schedule-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(40px, auto);
    grid-gap: 20px;
    padding: $padding $half-padding;

    h1 {
        grid-column: span 2;
    }
    article {
        border: solid 1px $site-lightblue;
        background-color: $site-white;
        padding: $half-padding;
        box-shadow: 0 1px 0 0 $site-lightgray, 0 1px 0 0 $site-lightgray inset;
    }
    article h2 {
        color: $site-darkblue;
        border-bottom: solid 1px $site-lightgray;
        font-size: 1.2em;
        font-weight: 300;
    }
    article a {
        background-image: url('../images/right-arrow.png');
        background-position: right;
        padding-right: 20px;
        background-repeat: no-repeat;
        font-weight: 200;
        font-size: 0.9em;
    }
    @include mq($phoneLarge){
        grid-template-columns: 1fr;
        h1 {
            grid-column: span 1;
        }
    }
}

//contact page style
.contact_form { 
    padding: $padding $half-padding;    
    // @media (max-width: $phoneLandscape){
    //         padding:30px 25px 30px;            
    // }
    .form_container{
        //margin-top: 10px;
        padding: 0 $padding;    
        display: grid;        
        grid-template-columns: auto auto;   grid-template-rows: 10px repeat(4,minmax(100px, auto)) minmax(50px, 70px);
        grid-row-gap: 20px;
        grid-column-gap: 20px;
        
        #field1{
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 2;
            grid-row-end: 3;
        }
        #field2{
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 3;
        }
        #field3{
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 3;
            grid-row-end: 4;
        }
        #field4{
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 3;
            grid-row-end: 4;
        }
        #field5{
            grid-column-start: 1;
            grid-column-end: span 2;
            grid-row-start: 4;
            grid-row-end: 5;
        }
        #field6{
            grid-column-start: 1;
            grid-column-end: span 2;
            grid-row-start: 5;
            grid-row-end: 6;
        }
        #field7{
            grid-column-start: 1;
            grid-column-end: span 2;
            grid-row-start: 6;
            grid-row-end: 7;
        }
        
        .field:not(:last-child){            
            justify-self:stretch;
            padding:15px 15px;  
            -webkit-box-shadow: 5px 5px 7px 2px rgba(105,100,123,0.88); 
            box-shadow: 5px 5px 7px 2px rgba(105,100,123,0.88);            
        }
        #field7{
            margin-bottom: 200px;
            padding-top: 10px;
        }   
        //button style
        #btnReset, #btnSubmit{                        
            background: Silver; 
            padding: 15px;
            border-radius: 50px;
            display: inline-block;
            border: none;
            transition: all 0.4s ease 0s;
        }
        
        @media (max-width: $phoneLandscape){
            //margin-top: 10px;
            padding: $half-padding;    
            display: flex;        
            flex-direction: column;
            .field:not(:first-child){
                margin-top:20px;
            }
            #field7{
                margin-bottom: 0px;
                padding-top: 10px;
            }      
        }
        @media (max-width:$phoneLarge)
        {
            margin-top: 10px;    
            display: flex;        
            flex-direction: column;
            .field:not(:first-child){
                margin-top:20px;
            }
            #field7{
                margin-bottom: 0px;
                padding-top: 10px;
            } 
            #field6 textarea{
                max-width: 300px;
            }     
        }
    }
}

//lessons page style
.lessons-container{
    padding: $padding $half-padding; 
    display: grid;        
    grid-template-columns: 10px repeat(3,minmax(100px, auto)) 10px;        
    grid-template-rows: 10px 15px repeat(4,minmax(100px, auto)) 10px;
    grid-row-gap: 15px;
    grid-column-gap: 15px;
    
    h1{
        // grid-column-start: 2;
        // grid-column-end: span 3;
        // grid-row-start: 2;
        // grid-row-end: 3;
        grid-column: span 5;
        grid-row: span 2;
    }
    .title{
        position: absolute;  
        left: 20%;                       
        top: 10%;                        
        transform: translate(-50%, -50%);
    }
    .lesson{
        height: 200px;
        position: relative; 
    }
    
    .content{
        position: absolute;  
        left: 50%;                       
        top: 50%;                        
        transform: translate(-50%, -50%);        
    }
    
    #less1{
        @include lessons-desktop-2ndCol();
        @include lessons-desktop-2ndtRow();
    }
    #less2{
        @include lessons-desktop-3rdCol();
        @include lessons-desktop-2ndtRow();
    }
    #less3{
        @include lessons-desktop-4thCol();
        @include lessons-desktop-2ndtRow();
    }
    #less4{
        @include lessons-desktop-2ndCol();
        @include lessons-desktop-3rdRow();
    }
    #less5{
        @include lessons-desktop-3rdCol();
        @include lessons-desktop-3rdRow();
    }
    #less6{
        @include lessons-desktop-4thCol();
        @include lessons-desktop-3rdRow();
    }
    #less7{
        @include lessons-desktop-2ndCol();
        @include lessons-desktop-4thRow();
    }
    #less8{
        @include lessons-desktop-3rdCol();
        @include lessons-desktop-4thRow();
    }
    #less9{
        @include lessons-desktop-4thCol();
        @include lessons-desktop-4thRow();
    }
    #less10{
        @include lessons-desktop-2ndCol();
        @include lessons-desktop-5thRow();
    }
    #less11{
        @include lessons-desktop-3rdCol();
        @include lessons-desktop-5thRow();
    }
    #less12{
        @include lessons-desktop-4thCol();
        @include lessons-desktop-5thRow();
    }
    //class created for fade in/out effect
    .enter{
        //image fade out 
        @include imageFadeOut(); 
        //title fade in  
        .title{            
            animation: titleFadeIn 1.0s;
            animation-fill-mode: forwards;  
        }
        //content fade in
        .content{
            animation: contentFadeIn 1.0s;
            animation-fill-mode: forwards;            
        }          
    }
    //tablet grid laout
    @media (max-width: $tabletPortrait){
        display: grid;        
        grid-template-columns: 10px repeat(2,minmax(100px, auto)) 10px;        
        grid-template-rows: 10px 15px repeat(6,minmax(100px, auto)) 10px;
        grid-row-gap: 15px;
        grid-column-gap: 15px;
        h1{
            // grid-column-start: 2;
            // grid-column-end: span 2;
            // grid-row-start: 2;
            // grid-row-end: 3;
            grid-column: span 5;
            grid-row: span 2;
        }
        #less1{
            @include lessons-tablet-2ndCol();
            @include lessons-tablet-2ndRow();
        }
        #less2{
            @include lessons-tablet-3rdCol();
            @include lessons-tablet-2ndRow();
        }
        #less3{
            @include lessons-tablet-2ndCol();
            @include lessons-tablet-3rdRow();
        }
        #less4{
            @include lessons-tablet-3rdCol();
            @include lessons-tablet-3rdRow();
        }
        #less5{
            @include lessons-tablet-2ndCol();
            @include lessons-tablet-4thRow();
        }
        #less6{
            @include lessons-tablet-3rdCol();
            @include lessons-tablet-4thRow();
        }
        #less7{
            @include lessons-tablet-2ndCol();
            @include lessons-tablet-5thRow();
        }
        #less8{
            @include lessons-tablet-3rdCol();
            @include lessons-tablet-5thRow();
        }
        #less9{
            @include lessons-tablet-2ndCol();
            @include lessons-tablet-6thRow();
        }
        #less10{
            @include lessons-tablet-3rdCol();
            @include lessons-tablet-6thRow();
        }
        #less11{
            @include lessons-tablet-2ndCol();
            @include lessons-tablet-7thRow();
        }
        #less12{
            @include lessons-tablet-3rdCol();
            @include lessons-tablet-7thRow();
        }
    }
    //cellphone grid layout
    @media (max-width: $phoneLarge){
        display: flex;
        flex-direction: column;
        //margin:10px 30px;
        .lesson{
            margin-top: 10px;
            margin-left: 50px;
            margin-right: 50px;                
            img{
                max-height:100%; 
                width:420px;
            }            
        }
    }
}
//lessons page style ends

//lessons sub pages layout
//lesson 2
section.lesson2-container{
    margin: 10px 50px;
    .lesson2{
        margin-top:10px;    
        padding:0px 50px;    
    }
    .less2-content{
        padding: 10px 30px;
    }
    .less2-content:nth-child(even){
        background-color: #C7DFF7;
    }
    .less2-content:nth-child(odd){
        background-color: #C7F7DF;
    }
    .less2-image{
        display: flex;
        flex-direction: row;          
    }
    .img_example{
        flex:1;
        border: 5px solid grey;
        border-radius: 5px;  
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;  
        img{
            margin:0;
        }         
    }
}
//lesson 3 
section.lesson3-container{
    padding: $padding $half-padding;

    .lesson3{
        margin-top:10px;    
        padding:0px 50px;    
    }
    .less3-content{
        padding: 10px 30px;
    }
    
    .less3-content:nth-child(even){
        background-color: #C7DFF7;
    }
    .less3-content:nth-child(odd){
        background-color: #C7F7DF;
    }
    
}

//outline page layout
section.outline-container {
    padding: $padding $half-padding;

    article {
        padding: $half-padding;

        p.box-article{
            padding: $half-padding;
            background-color: $site-lightgray;
            margin: 0 0 1px 0;
        }
        
        table td {
            padding: 10px;
            border: 1px solid $site-lightblue;

        }
        table td:first-child {
            width: 300px;
        }
        table td:nth-child(2) {
            width: 100px;
            text-align: center;
        }
    }
}
