// Typography Styles
body {
    font-family: $body-font;
    line-height: $line-height;
}

h1, h2, h3, p {
    font-family: $heading-font;
    line-height: $line-height;
    margin: 0;
}

section a {
    @include plain-link($site-lightblue);
    
    #{$hover}{
        text-decoration: underline;
    }
}

section h2 {
    font-size: 1.3em;
    color: $site-darkblue;
}

section.intro-container h3 {
    font-size: 1.3em;
    color: $site-white;
    padding-bottom: 10px;
}

section.intro-container p {
    color: $site-white;
}

section.intro-container h3 span {
    font-size: 1.5em;
    color: $site-yellow;
} 

section.intro-container ul, section.schedule-container ul {
    list-style: none;
    padding-left: 20px;
}

section.intro-container ul li::before, section.schedule-container ul li::before {
    content: "\2022";
    color: $site-lightblue;
    line-height: 1.8;
    list-style-type: square;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}