// Typography Styles
body {
    font-family: $body-font;
    line-height: $line-height;
}

h1, h2, h3, p {
    font-family: $heading-font;
    line-height: $line-height;
    margin: 0;
}

section a {
    @include plain-link($site-lightblue);
    
    #{$hover}{
        text-decoration: underline;
    }
}

section h2 {
    font-size: 1.3em;
    color: $site-darkblue;
}

section.intro-container h3 {
    font-size: 1.3em;
    color: $site-white;
    padding-bottom: 10px;
}

section.intro-container p {
    color: $site-white;
}

section.intro-container h3 span {
    font-size: 1.5em;
    color: $site-yellow;
} 

section.intro-container ul, section.schedule-container ul {
    list-style: none;
    padding-left: 20px;
}

section.intro-container ul li::before, section.schedule-container ul li::before {
    content: "\2022";
    color: $site-lightblue;
    line-height: 1.8;
    list-style-type: square;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

//contact page typo style
section.contact_form h1{
    font-size: $contact-page-headline-fontsize;
    color: $site-darkblue;   
    text-transform: capitalize;
    @media (max-width: $tabletLandscape){
        font-size: 1.8em;
    }
}
//make the first letter of each field become uppercase
section.contact_form label span:first-letter{
    text-transform: capitalize;
   
}
//contact page field typo style
section.contact_form label span{
    font-family:  $contact-page-field-font;
    font-size: $contact-page-field-fontsize;
    background: linear-gradient(#fff 75%, $contact-field-text-deco-color 0%) !important;
    font-weight:bold; 
    color: $contact-field-text-color;    
    display:inline-block;     
    @media (max-width: $tabletLandscape){
        font-size: 1.1em;
    }
}

//cantact page button typo style
section.contact_form #btnReset, #btnSubmit{
    color: $contact-btn-text-color;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    font-size: $contact-page-btn-fontsize;
    @media (max-width: $phoneLandscape){
        font-size: 1.2em;
    }
}

//lessons page typo style
//headline style
section.lessons-container h1{
    font-size:3.0em;
    color: $lessons-headline-text-color;
    text-transform: capitalize;
    
}
section.lessons-container .title{
        color:$lessons-page-title-dark;
        font-size: 1.4em; 
        background-color: #BBFFEE; 
        opacity:0.6;
        display: inline;
        line-height: 1.2;
        text-align: left;
        text-shadow: none;
        font-family:$lessons-page-title-font;
}
section.lessons-container .title:first-letter{
    text-transform: capitalize;    
}
section.lessons-container .content{
    color:$lessons-page-content-light;
    font-size: $lessons-page-content-fonesize-before;
    text-shadow:none;
    text-transform: capitalize;
    font-weight: bold;
    font-family: $lessons-page-content-font;
    
}


