/* CSS Document */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

img {
  max-width: 100%;
  height: auto; }

body {
  margin: 0; }

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5; }

h1, h2, h3, h4 p {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  margin: 0; }

section a {
  text-decoration: none;
  color: #3d69b6; }
  section a:hover, section a:focus, section a:active {
    text-decoration: underline; }

section h2 {
  font-size: 1.3em;
  color: #002145; }

section h1 {
  color: #002145;
  font-size: 2em;
  font-weight: 400;
  line-height: 40px;
  border-left: 3px solid #003e6b;
  padding-left: 7px; }

section.intro-container h3 {
  font-size: 1.3em;
  color: white;
  padding-bottom: 10px; }

section.intro-container p {
  color: white; }

section.intro-container h3 span {
  font-size: 1.5em;
  color: #fff400; }

section.intro-container ul, section.schedule-container ul {
  list-style: none;
  padding-left: 20px; }

section.intro-container ul li::before, section.schedule-container ul li::before {
  content: "\2022";
  color: #3d69b6;
  line-height: 1.8;
  list-style-type: square;
  display: inline-block;
  width: 1em;
  margin-left: -1em; }

section.contact_form label span:first-letter {
  text-transform: capitalize; }

section.contact_form label span {
  font-family: "Alata", sans-serif;
  font-size: 1.5em;
  background: linear-gradient(#fff 75%, #D8B1FF 0%) !important;
  font-weight: 300;
  color: #404040;
  display: inline-block; }
  @media (max-width: 64em) {
    section.contact_form label span {
      font-size: 1.1em; } }

section.contact_form #btnReset, #btnSubmit {
  color: midnightblue;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.5em; }
  @media (max-width: 41.875em) {
    section.contact_form #btnReset, #btnSubmit {
      font-size: 1.2em; } }

section.lessons-container .title {
  color: #444444;
  font-size: 1.4em;
  background-color: #BBFFEE;
  opacity: 0.6;
  display: inline;
  line-height: 1.2;
  text-align: left;
  text-shadow: none;
  font-family: "Titillium Web", sans-serif; }

section.lessons-container .title:first-letter {
  text-transform: capitalize; }

section.lessons-container .content {
  color: white;
  font-size: 1.6em;
  text-shadow: none;
  text-transform: capitalize;
  font-weight: bold;
  font-family: "Ubuntu", sans-serif; }

section.lesson2-container h1 {
  color: #002145;
  font-size: 2em;
  font-weight: 400;
  line-height: 40px;
  border-left: 3px solid #003e6b;
  padding-left: 7px; }

section.lesson2-container h2 {
  font-size: 1.7em;
  color: #002145; }

section.lesson2-container h3 {
  font-size: 1.5em;
  color: #004020;
  padding-bottom: 10px; }

section.lesson2-container h4 {
  font-size: 1.3em;
  color: grey;
  padding-bottom: 10px; }

section.lesson2-container p {
  line-height: 1.4; }

section.lesson2-container span {
  font-weight: bold;
  color: #30308F; }

section.lesson2-container .code {
  font-weight: bold;
  color: #107040; }

section.lesson2-container .img_description {
  font-size: 1.4em;
  font-weight: bold;
  text-decoration: underline solid orangered; }

section.lesson3-container h1 {
  color: #002145;
  font-size: 2em;
  font-weight: 400;
  line-height: 40px;
  border-left: 3px solid #003e6b;
  padding-left: 7px; }

section.lesson3-container h2 {
  font-size: 1.7em;
  color: #002145; }

section.lesson3-container h3 {
  font-size: 1.5em;
  color: #004020;
  padding-bottom: 10px; }

section.lesson3-container h4 {
  font-size: 1.3em;
  color: grey;
  padding-bottom: 10px; }

section.lesson3-container p {
  line-height: 1.4; }

section.lesson3-container span {
  font-weight: bold;
  color: #30308F; }

section.lesson3-container .code {
  font-weight: bold;
  color: #107040; }

body {
  background-color: #e8e8e8; }

.wrapper {
  max-width: 1024px;
  background-color: white;
  margin: 0 auto; }

header .header-row-01 {
  display: flex;
  align-items: flex-end; }
header .logo {
  margin: 0;
  padding: 0;
  line-height: 1;
  padding: 20px 10px 20px 20px; }
header h2 span {
  font-size: 1.0em; }
header h2 {
  color: #002145;
  font-size: 1.5em;
  line-height: 1.2em;
  font-weight: 300;
  text-align: left;
  padding-bottom: 25px; }
header .form-search {
  flex-grow: 2;
  text-align: right;
  padding-right: 1.25rem;
  padding-bottom: 1.25rem; }
header input[type=text] {
  width: 220px;
  border: 1px solid #003e6b;
  padding: 10px 0px 10px 40px;
  background-image: url("../images/search.png");
  background-position: 10px;
  background-repeat: no-repeat; }
header button {
  display: none; }
@media (max-width: 48em) {
  header {
    display: block; }
    header h2 {
      font-size: 1.3rem; }
    header input[type=text] {
      width: 160px; } }
@media (max-width: 36.25em) {
  header .header-row-01 {
    position: relative;
    padding-bottom: 50px; }
  header h2 {
    flex: 2; }
  header .form-search {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -150px; }
  header input[type=text] {
    width: 300px; } }

.hamburger {
  display: none; }
  @media (max-width: 48em) {
    .hamburger {
      display: block;
      border: none;
      background-color: transparent;
      padding: 0 0 33px 0;
      margin: 0;
      width: 37px;
      height: 37px;
      margin-right: 1em;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      cursor: pointer; }
      .hamburger .hamburger-icon {
        color: #003e6b;
        line-height: 1;
        font-size: 3.4em; }
      .hamburger .hamburger:focus,
      .hamburger .hamburger-icon:focus {
        outline: none; }
      .hamburger .hamburger:focus .hamburger-icon {
        outline: 5px solid rgba(0, 62, 107, 0.5); }
      .hamburger .hamburger-text {
        margin: -1px;
        padding: 0;
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip: rect(0 0 0 0);
        clip: rect(0, 0, 0, 0);
        position: absolute; } }

header nav {
  min-height: 50px;
  display: block; }
  header nav ul {
    margin: 0;
    padding: 0;
    line-height: 1;
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-content: flex-end;
    background-color: #003e6b; }
  header nav ul li {
    flex: auto;
    text-align: center; }
  header nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: block;
    line-height: 50px;
    padding: 0 1.25rem;
    position: relative; }
    header nav a:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: transparent;
      transition: background-color 0.3s ease; }
    header nav a:hover, header nav a:focus, header nav a:active {
      background-color: rgba(61, 105, 182, 0.5);
      outline: none; }
  header nav li:last-child a {
    background-color: #f15946; }
  @media (max-width: 48em) {
    header nav {
      width: 100%;
      display: none;
      width: 100%;
      border-bottom: 1px solid #003e6b; }
      header nav ul {
        display: block; }
      header nav a {
        border-top: 1px solid #003e6b;
        line-height: 49px; }
      .show header nav {
        display: block; } }

.banner {
  position: relative; }
  .banner .slideshow {
    position: relative; }
    .banner .slideshow:before {
      content: "";
      width: 1px;
      margin-left: -1px;
      float: left;
      height: 0;
      padding-top: 42.8571428571%; }
    .banner .slideshow:after {
      content: "";
      display: table;
      clear: both; }
    .banner .slideshow img {
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      width: 100%;
      height: 100%;
      display: block; }
  .banner h1 {
    font-size: 3em;
    margin: 0;
    padding: 0;
    line-height: 1;
    position: absolute;
    bottom: 10%;
    left: 5%;
    color: white;
    text-align: left;
    text-shadow: 2px 2px 0 #002145;
    white-space: nowrap;
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    line-height: 1.2em; }
  .banner h1 span {
    font-size: 0.8em;
    line-height: 0.8em; }
  @media (max-width: 36.25em) {
    .banner h1 {
      font-size: 8vw; } }

.intro-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 20px;
  padding: 1.25rem 0; }
  .intro-container .item {
    padding: 1.25rem; }
  .intro-container .item:first-child {
    margin-left: 20px;
    background-color: #e8e8e8; }
  .intro-container .item:nth-child(2) {
    margin-right: 20px;
    background-color: #e8e8e8; }
  .intro-container .item3 {
    grid-column: span 2;
    background-color: #003e6b;
    padding: 1.25rem;
    text-align: center; }
  .intro-container .item4 {
    grid-column: span 2; }
  .intro-container .item h2 {
    border-bottom: solid 1px white; }
  @media (max-width: 41.875em) {
    .intro-container .item1 {
      grid-column: span 2;
      margin-right: 20px; }
    .intro-container .item2 {
      grid-column: span 2;
      margin-left: 20px; } }

.schedule-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(40px, auto);
  grid-gap: 20px;
  padding: 2.5rem 1.25rem; }
  .schedule-container h1 {
    grid-column: span 2; }
  .schedule-container article {
    border: solid 1px #3d69b6;
    background-color: white;
    padding: 1.25rem;
    box-shadow: 0 1px 0 0 #e8e8e8, 0 1px 0 0 #e8e8e8 inset; }
  .schedule-container article h2 {
    color: #002145;
    border-bottom: solid 1px #e8e8e8;
    font-size: 1.2em;
    font-weight: 300; }
  .schedule-container article a {
    background-image: url("../images/right-arrow.png");
    background-position: right;
    padding-right: 20px;
    background-repeat: no-repeat;
    font-weight: 200;
    font-size: 0.9em; }
  @media (max-width: 36.25em) {
    .schedule-container {
      grid-template-columns: 1fr; } }

.contact_form {
  padding: 2.5rem 1.25rem; }
  .contact_form .form_container {
    padding: 0 2.5rem;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 10px repeat(4, minmax(100px, auto)) minmax(50px, 70px);
    grid-row-gap: 20px;
    grid-column-gap: 20px; }
    .contact_form .form_container #field1 {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 3; }
    .contact_form .form_container #field2 {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3; }
    .contact_form .form_container #field3 {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 3;
      grid-row-end: 4; }
    .contact_form .form_container #field4 {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 4; }
    .contact_form .form_container #field5 {
      grid-column-start: 1;
      grid-column-end: span 2;
      grid-row-start: 4;
      grid-row-end: 5; }
    .contact_form .form_container #field6 {
      grid-column-start: 1;
      grid-column-end: span 2;
      grid-row-start: 5;
      grid-row-end: 6; }
    .contact_form .form_container #field7 {
      grid-column-start: 1;
      grid-column-end: span 2;
      grid-row-start: 6;
      grid-row-end: 7; }
    .contact_form .form_container .field:not(:last-child) {
      justify-self: stretch;
      padding: 15px 15px;
      -webkit-box-shadow: 5px 5px 7px 2px rgba(105, 100, 123, 0.88);
      box-shadow: 5px 5px 7px 2px rgba(105, 100, 123, 0.88); }
    .contact_form .form_container #field7 {
      margin-bottom: 200px;
      padding-top: 10px; }
    .contact_form .form_container #btnReset, .contact_form .form_container #btnSubmit {
      background: Silver;
      padding: 15px;
      border-radius: 50px;
      display: inline-block;
      border: none;
      transition: all 0.4s ease 0s; }
    @media (max-width: 41.875em) {
      .contact_form .form_container {
        padding: 1.25rem;
        display: flex;
        flex-direction: column; }
        .contact_form .form_container .field:not(:first-child) {
          margin-top: 20px; }
        .contact_form .form_container #field7 {
          margin-bottom: 0px;
          padding-top: 10px; } }
    @media (max-width: 36.25em) {
      .contact_form .form_container {
        margin-top: 10px;
        display: flex;
        flex-direction: column; }
        .contact_form .form_container .field:not(:first-child) {
          margin-top: 20px; }
        .contact_form .form_container #field7 {
          margin-bottom: 0px;
          padding-top: 10px; }
        .contact_form .form_container #field6 textarea {
          max-width: 300px; } }

.lessons-container {
  padding: 2.5rem 1.25rem;
  display: grid;
  grid-template-columns: 10px repeat(3, minmax(100px, auto)) 10px;
  grid-template-rows: 10px 15px repeat(4, minmax(100px, auto)) 10px;
  grid-row-gap: 15px;
  grid-column-gap: 15px; }
  .lessons-container h1 {
    grid-column: span 5;
    grid-row: span 2; }
  .lessons-container .title {
    position: absolute;
    left: 20%;
    top: 10%;
    transform: translate(-50%, -50%); }
  .lessons-container .lesson {
    height: 200px;
    position: relative; }
  .lessons-container .content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
  .lessons-container #less1 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4; }
  .lessons-container #less2 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4; }
  .lessons-container #less3 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4; }
  .lessons-container #less4 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5; }
  .lessons-container #less5 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5; }
  .lessons-container #less6 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5; }
  .lessons-container #less7 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6; }
  .lessons-container #less8 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6; }
  .lessons-container #less9 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 6; }
  .lessons-container #less10 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7; }
  .lessons-container #less11 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 7; }
  .lessons-container #less12 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 7; }
  .lessons-container .enter {
    transition: 1.2s;
    visibility: visible;
    opacity: 0.6; }
    .lessons-container .enter .title {
      animation: titleFadeIn 1.0s;
      animation-fill-mode: forwards; }
    .lessons-container .enter .content {
      animation: contentFadeIn 1.0s;
      animation-fill-mode: forwards; }
  @media (max-width: 48em) {
    .lessons-container {
      display: grid;
      grid-template-columns: 10px repeat(2, minmax(100px, auto)) 10px;
      grid-template-rows: 10px 15px repeat(6, minmax(100px, auto)) 10px;
      grid-row-gap: 15px;
      grid-column-gap: 15px; }
      .lessons-container h1 {
        grid-column: span 5;
        grid-row: span 2; }
      .lessons-container #less1 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4; }
      .lessons-container #less2 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4; }
      .lessons-container #less3 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5; }
      .lessons-container #less4 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 5; }
      .lessons-container #less5 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 6; }
      .lessons-container #less6 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 5;
        grid-row-end: 6; }
      .lessons-container #less7 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 6;
        grid-row-end: 7; }
      .lessons-container #less8 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 6;
        grid-row-end: 7; }
      .lessons-container #less9 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 7;
        grid-row-end: 8; }
      .lessons-container #less10 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 7;
        grid-row-end: 8; }
      .lessons-container #less11 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 8;
        grid-row-end: 9; }
      .lessons-container #less12 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 8;
        grid-row-end: 9; } }
  @media (max-width: 36.25em) {
    .lessons-container {
      display: flex;
      flex-direction: column; }
      .lessons-container .lesson {
        margin-top: 10px;
        margin-left: 50px;
        margin-right: 50px; }
        .lessons-container .lesson img {
          max-height: 100%;
          width: 420px; } }

section.lesson2-container {
  margin: 10px 50px; }
  section.lesson2-container .lesson2 {
    margin-top: 10px;
    padding: 0px 50px; }
  section.lesson2-container .less2-content {
    padding: 10px 30px; }
  section.lesson2-container .less2-content:nth-child(even) {
    background-color: #C7DFF7; }
  section.lesson2-container .less2-content:nth-child(odd) {
    background-color: #C7F7DF; }
  section.lesson2-container .less2-image {
    display: flex;
    flex-direction: row; }
  section.lesson2-container .img_example {
    flex: 1;
    border: 5px solid grey;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    section.lesson2-container .img_example img {
      margin: 0; }

section.lesson3-container {
  margin: 10px 50px; }
  section.lesson3-container .lesson3 {
    margin-top: 10px;
    padding: 0px 50px; }
  section.lesson3-container .less3-content {
    padding: 10px 30px; }
  section.lesson3-container .less3-content:nth-child(even) {
    background-color: #C7DFF7; }
  section.lesson3-container .less3-content:nth-child(odd) {
    background-color: #C7F7DF; }

footer .social-content {
  background-color: #3d69b6;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1.25rem; }
  footer .social-content h2 {
    color: #e8e8e8;
    font-weight: 100; }
footer .info-content {
  background-color: #002145;
  display: flex;
  justify-content: space-between;
  align-content: start;
  padding: 1.25rem;
  color: white; }
  footer .info-content h2 {
    font-size: 1.0em;
    font-weight: 400;
    padding-bottom: 5px; }
  footer .info-content p, footer .info-content address {
    font-size: 0.9em;
    font-style: normal;
    line-height: 1.5em; }
  footer .info-content .sub-title {
    color: #e8e8e8;
    font-weight: 500;
    line-height: 100%;
    margin: 0;
    padding-bottom: 1.25rem; }
  footer .info-content .logo-footer {
    flex: 2;
    align-items: flex-start;
    font-weight: 100;
    font-size: 1.0em; }
  footer .info-content .logo-footer img {
    width: 50px; }
  footer .info-content .compuses ul {
    margin: 0;
    padding: 0;
    line-height: 1;
    list-style: none;
    padding-right: 100px;
    padding-left: 40px; }
  footer .info-content .compuses ul li a {
    text-decoration: none;
    color: white;
    line-height: 1.6em;
    font-size: 0.9em; }
  footer .info-content .compuses ul li a:hover {
    text-decoration: underline; }
footer .copy {
  background-color: #002145;
  color: white;
  font-weight: 100;
  font-size: 0.8em;
  border-top: solid 1px #3d69b6;
  padding: 10px 1.25rem; }
@media (max-width: 41.875em) {
  footer .info-content {
    flex-wrap: wrap; }
    footer .info-content .logo-footer {
      flex: 100%;
      padding: 0 0 20px 0; }
    footer .info-content .compuses ul {
      padding: 0 20px 20px 0; } }

@keyframes titleFadeIn {
  from {
    color: #444444;
    background-color: #BBFFEE;
    opacity: 0.6; }
  to {
    color: white;
    background-color: #008844;
    opacity: 1.0; } }
@keyframes contentFadeIn {
  from {
    color: white;
    font-size: 1.6em;
    text-shadow: none; }
  to {
    color: black;
    font-size: 1.8em;
    text-shadow: 6px 2px 2px #60ff8c; } }

/*# sourceMappingURL=styles.css.map */
